In [1]:
import pandas as pd
import numpy as np

In [44]:
diamond = pd.read_csv("diamonds.csv")
diamond

      carat        cut color clarity  depth  table   price     x     y     z
0      0.23      Ideal     E     SI2   61.5   55.0   326.0  3.95  3.98  2.43
1      0.21    Premium     E     SI1   59.8   61.0   326.0  3.89  3.84  2.31
2      0.23       Good     E     VS1   56.9   65.0   327.0  4.05  4.07  2.31
3      0.29    Premium     I     VS2   62.4   58.0   334.0  4.20  4.23  2.63
4      0.31       Good     J     SI2   63.3   58.0   335.0  4.34  4.35  2.75
...     ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53938  0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76  3.50
53939  0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53940   0.7  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53941  0.86    Premium     H     SI2   61.0   58.0  2757.0  6.15  6.12  3.74
53942  0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53943 rows x 10 columns]

11.  Count the duplicate rows of diamonds DataFrame.

In [7]:
duplicate_rows = diamond.duplicated().sum()
duplicate_rows

149

12. Drop rows in case of missing values in carat and cut columns.

In [10]:
diamond.dropna(subset=['carat', 'cut'], inplace=True)
diamond

      carat        cut color clarity  depth  table   price     x     y     z
0      0.23      Ideal     E     SI2   61.5   55.0   326.0  3.95  3.98  2.43
1      0.21    Premium     E     SI1   59.8   61.0   326.0  3.89  3.84  2.31
2      0.23       Good     E     VS1   56.9   65.0   327.0  4.05  4.07  2.31
3      0.29    Premium     I     VS2   62.4   58.0   334.0  4.20  4.23  2.63
4      0.31       Good     J     SI2   63.3   58.0   335.0  4.34  4.35  2.75
...     ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53938  0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76   3.5
53939  0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53940   0.7  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53941  0.86    Premium     H     SI2   61.0   58.0  2757.0  6.15  6.12  3.74
53942  0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53941 rows x 10 columns]

13. Subset the dataframe with only numeric columns.

In [12]:
numeric_col = diamond.select_dtypes(include='number')
numeric_col

       depth  table   price     x     y
0       61.5   55.0   326.0  3.95  3.98
1       59.8   61.0   326.0  3.89  3.84
2       56.9   65.0   327.0  4.05  4.07
3       62.4   58.0   334.0  4.20  4.23
4       63.3   58.0   335.0  4.34  4.35
...      ...    ...     ...   ...   ...
53938   60.8   57.0  2757.0  5.75  5.76
53939   63.1   55.0  2757.0  5.69  5.75
53940   62.8   60.0  2757.0  5.66  5.68
53941   61.0   58.0  2757.0  6.15  6.12
53942   62.2   55.0  2757.0  5.83  5.87

[53941 rows x 5 columns]

14. Compute volume as (xyz) when depth is greater than 60. In case of depth less than 60 default volume to 8.

In [53]:
diamond['volume'] = diamond.apply(lambda row: row['x'] * row['y'] * row['z'] if row['depth'] > 60 else 8, axis=1)
diamond

,carat,cut,color,clarity,depth,table,price,x,y,z,Volume,volume
0,0.23,Ideal,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43,38.202030,38.202030
1,0.21,Premium,E,SI1,59.8,61.0,326.0,3.89,3.84,2.31,8.000000,8.000000
2,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31,8.000000,8.000000
3,0.29,Premium,I,VS2,62.4,58.0,334.0,4.20,4.23,2.63,46.724580,46.724580
4,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75,51.917250,51.917250
...,...,...,...,...,...,...,...,...,...,...,...,...
53938,0.72,Ideal,D,SI1,60.8,57.0,2757.0,5.75,5.76,3.50,115.920000,115.920000
53939,0.72,Good,D,SI1,63.1,55.0,2757.0,5.69,5.75,3.61,118.110175,118.110175
53940,0.7,Very Good,D,SI1,62.8,60.0,2757.0,5.66,5.68,3.56,114.449728,114.449728
53941,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74,140.766120,140.766120
53942,0.75,Ideal,D,SI2,62.2,55.0,2757.0,5.83,5.87,3.64,124.568444,124.568444

15. Impute missing price values with mean.

In [55]:
mean_value = diamond['price'].mean()

# Replace missing values with the mean using fillna()
diamond['price'].fillna(mean_value, inplace=True)
mean_value

diamond.iloc[:10]

,carat,cut,color,clarity,depth,table,price,x,y,z,Volume,volume
0,0.23,Ideal,E,SI2,61.5,55.0,326.000000,3.95,3.98,2.43,38.202030,38.202030
1,0.21,Premium,E,SI1,59.8,61.0,326.000000,3.89,3.84,2.31,8.000000,8.000000
2,0.23,Good,E,VS1,56.9,65.0,327.000000,4.05,4.07,2.31,8.000000,8.000000
3,0.29,Premium,I,VS2,62.4,58.0,334.000000,4.20,4.23,2.63,46.724580,46.724580
4,0.31,Good,J,SI2,63.3,58.0,335.000000,4.34,4.35,2.75,51.917250,51.917250
5,0.24,Very Good,J,VVS2,62.8,57.0,3932.858525,3.94,3.96,2.48,38.693952,38.693952
6,0.24,Very Good,I,VVS1,62.3,57.0,336.000000,3.95,3.98,2.47,38.830870,38.830870
7,0.26,Very Good,H,SI1,61.9,55.0,337.000000,4.07,4.11,2.53,42.321081,42.321081
8,0.22,Fair,E,VS2,65.1,61.0,337.000000,3.87,3.78,2.49,36.425214,36.425214
9,0.23,Very Good,H,VS1,59.4,61.0,338.000000,4.00,4.05,2.39,8.000000,8.000000

In [39]:
mean_value = diamond['x'].mean()

# Replace missing values with the mean using fillna()
diamond['x'].fillna(mean_value, inplace=True)
mean_value

diamond.head()

  carat      cut color clarity  depth  table  price     x     y     z
0  0.23    Ideal     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43
1  0.21  Premium     E     SI1   59.8   61.0  326.0  3.89  3.84  2.31
2  0.23     Good     E     VS1   56.9   65.0  327.0  4.05  4.07  2.31
3  0.29  Premium     I     VS2   62.4   58.0  334.0  4.20  4.23  2.63
4  0.31     Good     J     SI2   63.3   58.0  335.0  4.34  4.35  2.75

In [40]:
mean_value = diamond['y'].mean()

# Replace missing values with the mean using fillna()
diamond['y'].fillna(mean_value, inplace=True)
mean_value

diamond.head()

  carat      cut color clarity  depth  table  price     x     y     z
0  0.23    Ideal     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43
1  0.21  Premium     E     SI1   59.8   61.0  326.0  3.89  3.84  2.31
2  0.23     Good     E     VS1   56.9   65.0  327.0  4.05  4.07  2.31
3  0.29  Premium     I     VS2   62.4   58.0  334.0  4.20  4.23  2.63
4  0.31     Good     J     SI2   63.3   58.0  335.0  4.34  4.35  2.75

In [45]:
mean_value = diamond['z'].mean()

# Replace missing values with the mean using fillna()
diamond['z'].fillna(mean_value, inplace=True)
mean_value

diamond.head()

  carat      cut color clarity  depth  table  price     x     y     z
0  0.23    Ideal     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43
1  0.21  Premium     E     SI1   59.8   61.0  326.0  3.89  3.84  2.31
2  0.23     Good     E     VS1   56.9   65.0  327.0  4.05  4.07  2.31
3  0.29  Premium     I     VS2   62.4   58.0  334.0  4.20  4.23  2.63
4  0.31     Good     J     SI2   63.3   58.0  335.0  4.34  4.35  2.75